<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" name="author" content="Juan Pinzon">
	<!-- <link rel="stylesheet" href="../static/css/main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--<script src="../static/js/mycode.js"></script> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Trip Planner</h1>
            <nav>
                <strong>
                    <ul class="menu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>

                        {% if 'email' in session %}
                        <li><a href="{{ url_for('profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('places') }}">Add Locations</a></li>
                        <li><a href="{{ url_for('addplaces') }}">Drop Locations</a></li>
                        <li><a href="{{ url_for('trip') }}">Trip Planner</a></li>
                        <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        {% endif %}
                    </ul>
                </strong>
            </nav>
        </div>
    </header>

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="success_m">{{ message }}</div>
            <br/>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYsJ3ig9aPJCgfk45XqRj-ZfqreytYC-w&libraries=places"></script>
</body>
</html>
