{% extends "layout.html" %}

{% block content %}
    <h2>Places</h2>
    <div class="div-left">
         <h3> Add - New Place </h3>
        <form action="{{ url_for('places') }}" method="POST">
            {{ form.hidden_tag() }}         <!--to protect against CSRF exploits-->

            {{ form.name.label }}
            {{ form.name }}

            {{ form.Gaddress.label }}
            {{ form.Gaddress }}<br><br>

            {{ form.Endpoint.label}}
            {{form.Endpoint}}<br><br>

            {{ form.submit }}
        </form>
    </div>
    <div class="div-right">
        <h3> Map - Current Places </h3>
        <div class="inner-div">
            {% if mymap %}
                {{ mymap.js }}
                {{ mymap.html }}
            {% endif %}
        </div>
    </div>

<script>
    function initialize() {
        var input = document.getElementById('Gaddress');
        autocomplete = new google.maps.places.Autocomplete(input, {types: ['geocode']} );
        autocomplete.addListener('place_changed', fillInZipCode);
    }

    function fillInZipCode() {
        var place = autocomplete.getPlace();

        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (addressType == "postal_code") {
                var val = place.address_components[i]['short_name'];
                break;
             }
        }

        document.getElementById('Gaddress').value = document.getElementById('Gaddress').value + ", " + val;
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
